langchain
ipykernel
python-dotenv
langchain-openai
langchain_community
chromadb
langchain-community
sentence_transformers
langchain_huggingface
langchain_core
beautifulsoup4
faiss-cpu
langchain_groq
fastapi
langserve
sse_starlette
langchain_chroma
bs4
